.vscode/*

# Build folder.
build/*
*.egg-info/*

# Python virtual environment folder.
.venv/*
venv/*
*.pyd
**/.idea/**

*.bak

# Python binding folders.
dist/*
backend.pyi
*.egg-info/*
pic/*

# Python folders.
python/__pycache__/*
output/*
